node_modules/
assets/mapsources/*.jpg
assets/mapsources/*.jpg
assets/mapfiles/**/*.png
assets/mapfiles/**/*.jpg
public/images/grid/**/*.jpg
public/js/*.js
public/css/*.css
public/css/images/*.png
.sass-cache/