html
	head
		link(rel='stylesheet', href='./css/leaflet.css')
		script(src='./js/leaflet.js')
		script(src='./js/underscore-min.js')
		script(src='./js/jquery.min.js')

		style.
			#mapid { width:1920px; height:1080px; }
			.leaflet-container {
				background: #000;
			}
	body
		div(id='mapid')
		script.
			let entrances = !{JSON.stringify(entrances)};
			let places = !{JSON.stringify(places)};
			let activeNavLines = [];

			$(document).ready(function(){
				$.ajaxSetup({
				    async: false
				});

			 	var map = L.map('mapid', {
			 		minZoom:0,
			 		maxZoom: 7,
					zoom: 2,
			 		center: [-70,120],
			 	});
			 	L.tileLayer('./images/grid/{z}/{x}/{y}.jpg',{noWrap:true}).addTo(map);

			 	
			 	map.on('click',function(e){
			 		console.log(JSON.stringify(e.latlng));
			 	});

			 	function renderEntrances(ent){
				 	_.each(ent,function(e){
			 			if(typeof e.from !== 'undefined'){
			 				if(typeof e.nick !== 'undefined'){
			 					title = e.nick+' ('+e.from+' -> '+e.to+')';
			 				} else if(typeof e.from === 'string') {
								title = '('+e.from+' -> '+e.to+')';
			 				} else {
				 				from = _.findWhere(places,{"id":e.from});
				 				to = _.findWhere(places,{"id":e.to});
				 				title = from.name+' -> '+to.name+' ('+e.from+' -> '+e.to+')';
			 				}
			 			} else {
				 			return;
			 			}
			 			var m = L.marker([e.lat, e.lng],{title:title});
			 			m.bindPopup(title).openPopup();
			 			m.addTo(map);
			 		});
			 	}

			 	function renderPaths(ent){
			 		let oneways = [];
			 		_.each(ent,function(e){

			 			let frome = e;
			 			let toe = _.findWhere(ent,{to:frome.from,from:frome.to});
			 			if(typeof toe == 'undefined'){
							console.log('Could not find exit for: '+frome.to);
			 				console.log(e);
			 				return;
			 			}

			 			if(oneways.includes(frome.from+'x'+frome.to)){
			 				console.log('Already plotted this line one way, skipping');
			 				//return;
			 			}

						let line = L.polyline([[frome.lat,frome.lng],[toe.lat,toe.lng]],{color:'red'}).addTo(map);
						oneways.push(toe.to+'x'+toe.from);
						activeNavLines.push(line);
			 		});
			 	}

			 	renderEntrances(entrances);
			 	renderPaths(entrances);
			})
